.vue-notification {
  padding: 10px;
  margin: 0 5px 5px;
  font-size: 14px;
  color: #ffffff;
  background: $primary;
  border-left: 5px solid #187FE7;

  &.default {
    background: $primary !important;
    border-left-color: darken($primary, 30) !important;
  }

  &.warn {
    background: $secondary !important;
  }

  &.success {
    background: $primary !important;
    border-left-color: darken($primary, 5) !important;
  }
}