@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "../css/animate";

/* [ Header ] */
@import "header";

/* [V-Select] */
@import "v-select";

/* [V-Notifications] */
@import "v-notifications";

.is-fetching{
    opacity: .5;
    pointer-events: none;
    cursor: default;
}

.card-header {
    cursor: default;
}

/* [ Footer ] */
@import "footer";