.gpp-footer{
    width: 100%;
    min-height: 30px;
    float: left;
    background-color: $primary;
    border-top: 3px solid $secondary;
    color: $white;
    margin-top: 30px;
    clear: both;
    position: relative;
}