/* [Font] */
$font-size-base: .95rem;

/* [Colors] */
$pdg-color: #26256A; //#26256A // #3C3584
$pdg-color-secondary: #FCAE1B;

$primary: $pdg-color;
$secondary: $pdg-color-secondary;

$border-radius: 0;

/* [ Modals ] */
$modal-content-border-radius: $border-radius;
$modal-content-border-width: 0;
