/* [Colors] */
$pdg-color: #3C3584;
$pdg-color-secondary: #FCAE1B;

$primary: $pdg-color;
$secondary: $pdg-color-secondary;

$border-radius: 0;

/* [ Modals ] */
$modal-content-border-radius: $border-radius;
$modal-content-border-width: 0;
